extends layout_noSideBar.pug

block content
    main#main.main
      .pagetitle
        h1 個人資訊
        nav
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/') 首頁
            li.breadcrumb-item 會員
            li.breadcrumb-item.active 個人資訊
      // End Page Title
      section.section.profile
        .row
          .col-xl-4
            .card
              .card-body.profile-card.pt-4.d-flex.flex-column.align-items-center(style="height:235px;justify-content: space-around;")
                img.rounded-circle(src=picture, alt='Profile')
                h2=name
                h3=email
                //- .social-links.mt-2
                //-   a.twitter(href='#')
                //-     i.bi.bi-twitter
                //-   a.facebook(href='#')
                //-     i.bi.bi-facebook
                //-   a.instagram(href='#')
                //-     i.bi.bi-instagram
                //-   a.linkedin(href='#')
                //-     i.bi.bi-linkedin
          .col-xl-8
            .card
              .card-body.pt-3
                // Bordered Tabs
                ul.nav.nav-tabs.nav-tabs-bordered
                  li.nav-item
                    button.nav-link.active(data-bs-toggle='tab', data-bs-target='#profile-overview') 總覽
                  //- li.nav-item
                  //-   button.nav-link(data-bs-toggle='tab', data-bs-target='#profile-edit') Edit Profile
                  //- li.nav-item
                  //-   button.nav-link(data-bs-toggle='tab', data-bs-target='#profile-settings') Settings
                  //- li.nav-item
                  //-   button.nav-link(data-bs-toggle='tab', data-bs-target='#profile-change-password') Change Password
                .tab-content.pt-2
                  #profile-overview.tab-pane.fade.show.active.profile-overview
                    //- h5.card-title About
                    //- p.small.fst-italic
                    //-   | 一個森愛歷史的男紙
                    h5.card-title 使用者資訊
                    .row
                      .col-lg-3.col-md-4.label 名稱
                      .col-lg-9.col-md-8=name
                    .row
                      .col-lg-3.col-md-4.label Email
                      .col-lg-9.col-md-8=email
                  #profile-edit.tab-pane.fade.profile-edit.pt-3
                    // Profile Edit Form
                    form
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='profileImage') Profile Image
                        .col-md-8.col-lg-9
                          img(src='assets/img/profile-img.jpg', alt='Profile')
                          .pt-2
                            a.btn.btn-primary.btn-sm(href='#', title='Upload new profile image')
                              i.bi.bi-upload
                            a.btn.btn-danger.btn-sm(href='#', title='Remove my profile image')
                              i.bi.bi-trash
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='fullName') Full Name
                        .col-md-8.col-lg-9
                          input#fullName.form-control(name='fullName', type='text', value='')
                      .row.mb-3
                        label.col-md-4.col-lg-3.col-form-label(for='about') About
                        .col-md-8.col-lg-9
                          textarea#about.form-control(name='about', style='height: 100px')
                            | 
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='company') Company
                      //-   .col-md-8.col-lg-9
                      //-     input#company.form-control(name='company', type='text', value='Lueilwitz, Wisoky and Leuschke')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Job') Job
                      //-   .col-md-8.col-lg-9
                      //-     input#Job.form-control(name='job', type='text', value='Web Designer')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Country') Country
                      //-   .col-md-8.col-lg-9
                      //-     input#Country.form-control(name='country', type='text', value='USA')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Address') Address
                      //-   .col-md-8.col-lg-9
                      //-     input#Address.form-control(name='address', type='text', value='A108 Adam Street, New York, NY 535022')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Phone') Phone
                      //-   .col-md-8.col-lg-9
                      //-     input#Phone.form-control(name='phone', type='text', value='(436) 486-3538 x29071')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Email') Email
                      //-   .col-md-8.col-lg-9
                      //-     input#Email.form-control(name='email', type='email', value='k.anderson@example.com')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Twitter') Twitter Profile
                      //-   .col-md-8.col-lg-9
                      //-     input#Twitter.form-control(name='twitter', type='text', value='https://twitter.com/#')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Facebook') Facebook Profile
                      //-   .col-md-8.col-lg-9
                      //-     input#Facebook.form-control(name='facebook', type='text', value='https://facebook.com/#')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Instagram') Instagram Profile
                      //-   .col-md-8.col-lg-9
                      //-     input#Instagram.form-control(name='instagram', type='text', value='https://instagram.com/#')
                      //- .row.mb-3
                      //-   label.col-md-4.col-lg-3.col-form-label(for='Linkedin') Linkedin Profile
                      //-   .col-md-8.col-lg-9
                      //-     input#Linkedin.form-control(name='linkedin', type='text', value='https://linkedin.com/#')
                      //- .text-center
                      //-   button.btn.btn-primary(type='submit') Save Changes
                    // End Profile Edit Form
                  //- #profile-settings.tab-pane.fade.pt-3
                  //-   // Settings Form
                  //-   form
                  //-     .row.mb-3
                  //-       label.col-md-4.col-lg-3.col-form-label(for='fullName') Email Notifications
                  //-       .col-md-8.col-lg-9
                  //-         .form-check
                  //-           input#changesMade.form-check-input(type='checkbox', checked='')
                  //-           label.form-check-label(for='changesMade')
                  //-             | Changes made to your account
                  //-         .form-check
                  //-           input#newProducts.form-check-input(type='checkbox', checked='')
                  //-           label.form-check-label(for='newProducts')
                  //-             | Information on new products and services
                  //-         .form-check
                  //-           input#proOffers.form-check-input(type='checkbox')
                  //-           label.form-check-label(for='proOffers')
                  //-             | Marketing and promo offers
                  //-         .form-check
                  //-           input#securityNotify.form-check-input(type='checkbox', checked='', disabled='')
                  //-           label.form-check-label(for='securityNotify')
                  //-             | Security alerts
                  //-     .text-center
                  //-       button.btn.btn-primary(type='submit') Save Changes
                  //-   // End settings Form
                  //- #profile-change-password.tab-pane.fade.pt-3
                  //-   // Change Password Form
                  //-   form
                  //-     .row.mb-3
                  //-       label.col-md-4.col-lg-3.col-form-label(for='currentPassword') Current Password
                  //-       .col-md-8.col-lg-9
                  //-         input#currentPassword.form-control(name='password', type='password')
                  //-     .row.mb-3
                  //-       label.col-md-4.col-lg-3.col-form-label(for='newPassword') New Password
                  //-       .col-md-8.col-lg-9
                  //-         input#newPassword.form-control(name='newpassword', type='password')
                  //-     .row.mb-3
                  //-       label.col-md-4.col-lg-3.col-form-label(for='renewPassword') Re-enter New Password
                  //-       .col-md-8.col-lg-9
                  //-         input#renewPassword.form-control(name='renewpassword', type='password')
                  //-     .text-center
                  //-       button.btn.btn-primary(type='submit') Change Password
                    // End Change Password Form
                // End Bordered Tabs
    // End #main
    // ======= Footer =======
    footer#footer.footer
      .copyright
        | &copy; Copyright 
        strong
          span GoodTidy
    // End Footer
    a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short

    //- script.
    //-   user_data = !{user_data};
    //-   let user_picture = user_data.picture;
    //-   $("#user_img").attr('src', user_picture);
    //-   $("#user_name").text(user_data.name);
    //-   $("#user_email").text(user_data.email);

    script(src='/js/user.js')
    script(src='/js/windowLoad.js')
    script(src='/js/note.js')
    script(src='/js/draggable.js')
    script(src='/js/btn.js')
    //- script(src='/js/restore.js')
    //- script(src='/js/preview.js')
    //- script(src='/js/canvas.js')
    script(src='/js/social.js')
    script(src='/js/search.js')
    script(src='/js/autoSave.js')
    script(src='/js/annotationBar.js')