extends layout_noSideBar.pug

block content
    main
        .card(style="margin: 100px 30px 0px 30px;")
            .card-header
                .d-flex.flex-row.align-items-center
                    img.profile-pic(src=user_picture)
                    p.small.mb-0.ms-2=user_name
            .card-body(style="height:600px;")
                #showShareDetail(style="padding: 20px 0 0 0; position: absolute;")
            .card-footer
                span.badge.bg-dark.rounded-pill 筆記
                h1.card-title=note_name
                p.small=sharing_time

    script.
        text_elements = !{text_elements};
        elements = !{elements};
        let file_name  = !{JSON.stringify(file_name)};

        let text_element = text_elements_arr($('#showShareDetail'), text_elements);
        let img_element = Img_elements_arr(elements);

        console.log(text_element, img_element);
        elements_init($('#showShareDetail'), img_element, text_element);

        function Img_elements_arr(note_Imgcontent) {
            let Img_elements = [];
            let elements = $.parseHTML(note_Imgcontent);
            let img_background = file_name;

            elements.map((s) => {
                $(s).find('img').attr('src', img_background);
                Img_elements.push(s);
            });

            return Img_elements;
        }

        function text_elements_arr(append_div, note_textContent) {
            let text_elements = [];
            if (!note_textContent) {
                return [];
            }

            note_textContent.map((s) => {
                const element = Textarea_draggable_html(
                    append_div,
                    s.text,
                    s.width,
                    s.height,
                    s.textTop,
                    s.textLeft
                );
                text_elements.push(element);
            });
                return text_elements;
        }

        function elements_init(append_div, Img_elements, text_elements) {
            let elements = Img_elements.concat(text_elements);
            elements.map((e) => {
                append_div.append(e);
            });
        }

        function Textarea_draggable_html(
            div_id,
            text,
            width,
            height,
            textTop,
            textLeft
            ) {
            textLeft = +textLeft.replaceAll('px', '');
            textTop = +textTop.replaceAll('px', '');

            let new_offset = { top: textTop, left: textLeft };
            let new_width = width;
            let new_height = height;
            let timestamp = Date.now();
            let textarea_id = `${timestamp}_textarea`;
            let newElement = $(
                `<div class="div_addtextarea"><textarea id="${textarea_id}" class="addtextarea" disabled>${text}</textarea></div>`
            )
                .width(new_width)
                .height(new_height)
                .css({
                    'position': 'absolute',
                })
                .offset(new_offset)

            return newElement;
        }
    