extends layout_noSideBar.pug

block content
    body
        main
            .container(style='margin: 75px 0 0 0')
                .row.justify-center
                    .col-12
                        header
                        .input-group.mb-3
                            button.btn.btn-outline-secondary.dropdown-toggle#socialPageSearch-btn(type='button', data-bs-toggle='dropdown', aria-expanded='false') 搜尋
                            ul#socialPageSearchMenu.dropdown-menu.dropdown-menu-end
                                li
                                    a.dropdown-item 作者
                                li
                                    a.dropdown-item 時間
                                li
                                    a.dropdown-item 標題
                                li
                                    a.dropdown-item 簡介
                                li
                                    a.dropdown-item 內容
                                li
                                    a.dropdown-item 標籤
                                li
                                    a.dropdown-item 收藏
                            input#socialPageSearch-input.form-control(type='text', placeholder='欲搜尋的內容...', aria-label='欲搜尋的內容...', aria-describedby='basic-addon2', onKeyDown="if(event.keyCode==13) javascript:socialSearch();")
                            button#socialSearchBar.btn
                                i.fa.fa-search
                            
                            input#daterange(type="text", name="daterange", value="09/20/2022 - 09/22/2022")

            //- .input-group.rounded
            //-     input.form-control.rounded(type='search', placeholder='Search', aria-label='Search', aria-describedby='search-addon')
            //-     span#search-addon.input-group-text.border-0
            //-         i.fa.fa-search
            //- 排序搜尋法
            button#time_sorting-btn.btn
                i.fa.fa-clock-o(aria-hidden='true', style='color:grey')
            button#heart_sorting-btn.btn
                i.fa.fa-heart(aria-hidden='true', style='color:grey')
            button#comments_sorting-btn.btn 
                i.fa.fa-solid.fa-comments(aria-hidden='true', style='color:grey')
            //- 分享筆記卡片
            #sharing-cards
            br
            //- 分頁
            #paging-block

            //- 留言
            script.

                $(function () {
                    $('input[name="daterange"]').daterangepicker(
                    {
                        opens: 'left',
                    },
                    function (start, end, label) {
                        console.log(
                        'A new date selection was made: ' +
                            start.format('YYYY-MM-DD') +
                            ' to ' +
                            end.format('YYYY-MM-DD')
                        );
                    }
                    );
                });

                cards_html = !{cards_html};
                paging_html = !{paging_html};
                
                const elements_html = $.parseHTML(cards_html);
                $('#sharing-cards').append(elements_html);
                const pagings_html = $.parseHTML(paging_html);
                $('#paging-block').append(pagings_html);

                function alert_paging(str) {
                    alert('已經是' + str);
                }

                // [func] 輸入分頁跳轉
                function getInputPage(){
                    const setPage = $('#setPage').val();
                    const protocol = document.location.protocol;
                    const server = document.location.host;
                    const sorting = new URLSearchParams(document.location.search).get("sorting");
                    window.location.assign(`${protocol}//${server}/socialPage?paging=${setPage}&sorting=${sorting}`);
                }

                // [UI] 點選搜尋畫面
                $('.dropdown-item').css("cursor", "pointer")


