extends layout_noSideBar.pug

block content
    .container(style="margin: 100px 60px;")
        .row
            .col
                //- 筆記上傳區塊
                h1 筆記上傳
                //- button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', position="right")
                .OCR-block
                    form#form-preview(action='', method='post', r='')
                        .row(style="margin:10px 0;")
                            .col-sm
                                input#file-preview.form-control(type='file', name='photo', accept='image/*', required='')
                            //- .col-sm
                            //-     button#form-prview-btn.button-55 預覽
                    br
                    img#img-preview(hidden='')
                    .OCR-nav(style="margin:10px 0 15px 0px;")
                        //- <button id="pre">上一步</button>
                        //- <button id="next">下一步</button>
                        //- button#shapeRemoveBG(disabled='') 圖形去背
                        //- <button id="magicContour">圖形圈選</button>
                        br
                        //- 圖形擷取
                        button#rectContour.btn(style='font-size:25px', data-toggle='tooltip', data-placement='bottom', title='框選您想截圖的區域')
                            i.bi.bi-bounding-box-circles
                        
                        //- 去除圖形
                        button#removeNotWant.btn(style='font-size:25px', data-toggle='tooltip', data-placement='bottom', title='遮蔽不執行OCR的區域')
                            i.bi.bi-x-square-fill
                        
                        //- OCR
                        button#OCR.btn
                            img(src="/assets/img/ocr.png" style="width:25px;height:25px;", data-toggle='tooltip', data-placement='bottom', title='圖形文字辨識')

                        //- 復原
                        button#reDraw.btn(style='font-size:25px', data-toggle='tooltip', data-placement='bottom', title='復原此版面')
                            i.fa.fa-rotate-left
                        br
                    .OCR-preview
                        canvas#fontOCRCanvas(width="600" height="500")
            .col
                .OCR-block
                    .row
                        .col-sm
                            h1 預覽
                        //- .col-sm(style="margin:0 0 0 400px")
                        //-     button#submit_note.button-55 上傳
                        .note-preview-block
                            .processed-content-nav
                                .row.mb-3
                                    label.col-sm-2.col-form-label 筆記名稱
                                    .col-sm-10
                                        input#note-name.form-control(type='text')
                                .row.mb-3
                                    label.col-sm-2.col-form-label 筆記分類
                                    .col-sm-10
                                        input#note-classification.form-control(type='text')
                                .row.mb-3
                                    .col-sm-1
                                        //- 刪除鍵
                                        button#deleteElement.btn(data-toggle='tooltip', data-placement='bottom', title='雙擊下方元件，框選後點擊刪除', style='font-size:25px')
                                            i.fa.fa-solid.fa-trash
                                    .col-sm
                                        button#submit_note.btn(data-toggle='tooltip', data-placement='bottom', title='上傳檔案', style='font-size:25px')
                                            i.fa.fa-solid.fa-upload
                            
                            #note-preview-content.note-edit-block

                            script.


                                // 文字辨識鍵 --------------------------------------
                                $('#OCR').click(async function () {
                                    // Loading圖示
                                    $('#OCR').prop('disabled', true);
                                    $('body').css('cursor', 'progress');

                                    let image = canvas.toDataURL('image/jpeg', 1);
                                    const base64Response = await fetch(image);
                                    const blob = await base64Response.blob();

                                    let file_name = `OCR_${Date.now()}.jpg`;
                                    let data = new FormData();
                                    data.append('OCR_upload', blob, file_name);

                                    let config = {
                                        method: 'POST',
                                        url: 'api/1.0/OCR',
                                        data: data,
                                    };

                                    await axios(config)
                                        .then(function (response) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'OCR成功',
                                            showConfirmButton: false,
                                            timer: 1500
                                        })
                                        // Loading圖示釋放
                                        $('#OCR').prop('disabled', false);
                                        $('body').css('cursor', 'default');

                                        // Canvas重畫
                                        clearContext(canvas, context);
                                        canvasBackground();
                                        removeRectRemoveListener(canvas);

                                        const OCR_result = response.data;

                                        // append進預覽框裡
                                        // OCR_result[0] 是全部辨識的字串
                                        // 整張圖在OCR時，有時候座標為負值，故定死為10,10
                                        let text = OCR_result[0].description;
                                        // let textTop = OCR_result[0].boundingPoly.vertices[0].y;
                                        // let textLeft = OCR_result[0].boundingPoly.vertices[0].x;
                                        let textTop = 10;
                                        let textLeft = 10;

                                        addDragTextarea('#note-preview-content', text, textTop, textLeft);
                                        })
                                        .catch(function (error) {
                                            //- console.log("error", error);
                                            Swal.fire({
                                                icon: 'error',
                                                title: error.response.data.msg,
                                                showConfirmButton: false,
                                                timer: 1500
                                            })
                                            // Loading釋放
                                            $('#OCR').prop('disabled', false);
                                            $('body').css('cursor', 'default');
                                    });
                                });

                                // 去除非文字鍵 ------------------------------------
                                $('#removeNotWant').click(function () {
                                    removeRectContourRemoveListener(canvas);
                                    initRectListener(canvas);
                                });

                                // 刪除按鈕
                                $('#deleteElement').click(function (){
                                    Swal.fire({
                                        title: '你確定要刪除選取的物件?',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: '刪除',
                                        cancelButtonText: '取消'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $('#note-preview-content').find('.highlight').remove();
                                        }
                                    })
                                });

                                // 上傳檔案鍵 ----------------------------
                                $('#submit_note').click(async function () {
                                    // Loading圖示
                                    $('#submit_note').prop('disabled', true);
                                    $('body').css('cursor', 'progress');

                                    note_name = $('#note-name').val();
                                    note_classification = $('#note-classification').val();

                                    let ver_name = prompt('請輸入此版本名稱:', `${note_name}_第一版`);
                                    
                                    //- let ver_name;
                                    //- Swal.fire({
                                    //-      title: '請輸入此版本名稱',
                                    //-      input: 'text',
                                    //-      inputAttributes: {
                                    //-         autocapitalize: 'off'
                                    //-     },
                                    //-      showCancelButton: true,
                                    //-      confirmButtonText: '確認',
                                    //-      cancelButtonText: '取消',
                                    //-    }).then((result) => {
                                    //-         if(result.isConfirmed){
                                    //-             ver_name = result.value;
                                    //-              // Loading釋放
                                    //-             $('#submit_note').prop('disabled', false);
                                    //-             $('body').css('cursor', 'default');
                                    //-             if(ver_name == null || ver_name == '' ){
                                    //-                 Swal.fire('版本名不能為空白');
                                    //-             }
                                    //-             if(note_name == '' || note_classification == '' ){
                                    //-                  Swal.fire('筆記名稱或筆記分類不能為空白');
                                    //-             }
                                    //-         }
                                    //-         //- 取消
                                    //-         //- else {
                                    //-         //-    return;
                                    //-         //- }
                                    //-     });

                                    //- 檢查版本名
                                    if (ver_name == null || ver_name == '') {
                                        Swal.fire('版本名不能為空');
                                        // Loading釋放
                                        $('#submit_note').prop('disabled', false);
                                        $('body').css('cursor', 'default');
                                        return;
                                    }
                                    if(note_name == '' || note_classification == '' ){
                                        Swal.fire('筆記名稱或筆記分類不能為空白');
                                        // Loading釋放
                                        $('#submit_note').prop('disabled', false);
                                        $('body').css('cursor', 'default');
                                        return;
                                    }

                                    // blob url to file
                                    let blob = await fetch(previewBlah.src).then((r) => r.blob());
                                    let filetype = $('input[type=file]').val().split('.').pop();
                                    let timestamp = Date.now();
                                    let filename = `${user_id}_${timestamp}.${filetype}`;

                                    // 圖形擷取資訊
                                    let contourImg_count = $('.contour-pic').length;
                                    let element_html = '';
                                    for (let i = 0; i < contourImg_count; i++) {
                                        element_html += $('.contour-pic').get(i).outerHTML;
                                    }
                                    let removeSrc_element = element_html.replaceAll(previewBlah.src, '');

                                    // 文字擷取
                                    const text_elements = $('.div_addtextarea');

                                    let text_elements_arr = [];
                                    text_elements.map((i, e) => {
                                        let obj = {};
                                        const OCR_top = e.style.top;
                                        const OCR_left = e.style.left;
                                        const OCR_width = e.style.width;
                                        const OCR_height = e.style.height;
                                        const OCR_text = e.firstChild.value;
                                        obj = {
                                            'textTop': OCR_top,
                                            'textLeft': OCR_left,
                                            'width': OCR_width,
                                            'height': OCR_height,
                                            'text': OCR_text,
                                        };
                                        OCR_elements.push(obj);
                                    });
                                   

                                    let keywords = $('#note-preview-content')
                                        .text()
                                        .replaceAll('\n', '')
                                        .replace(/\s/g, '');

                                    await noteUpload(
                                        blob,
                                        filename,
                                        user_id,
                                        note_name,
                                        timestamp,
                                        removeSrc_element,
                                        note_classification,
                                        ver_name,
                                        keywords,
                                        OCR_elements
                                    );

                                    // Loading釋放
                                    $('#submit_note').prop('disabled', false);
                                    $('body').css('cursor', 'default');
                                });

                                // 監聽圖形刪除事件
                                $(document).on('dblclick', '.contour-pic', function(e){
                                    // 一次只能選一個
                                    let click_element = $('#' + e.currentTarget.id);
                                    if (click_element.hasClass('highlight')) {
                                    $('.contour-pic').removeClass('highlight');
                                    $('.div_addtextarea').removeClass('highlight');
                                    } else {
                                    $('.contour-pic').removeClass('highlight');
                                    $('.div_addtextarea').removeClass('highlight');
                                    click_element.addClass('highlight');
                                    }
                                });

                                // 監聽文字框刪除事件
                                $(document).on('dblclick', '.addtextarea', function(e){
                                    let click_element = e.currentTarget.parentNode;
                                    let click_id = e.target.id;

                                    // 取消框選
                                    if (click_element.classList.contains('highlight')) {
                                    // 一次只能選一個
                                    $('.contour-pic').removeClass('highlight');
                                    $('.div_addtextarea').removeClass('highlight');
                                    if (OCR_delete_ids.indexOf(click_id) !== -1) {
                                        OCR_delete_ids.splice(click_id, 1);
                                    }
                                    // 框選
                                    } else {
                                    // 一次只能選一個
                                    $('.contour-pic').removeClass('highlight');
                                    $('.div_addtextarea').removeClass('highlight');
                                    click_element.classList.add('highlight');
                                    OCR_delete_ids.push(click_id);
                                    }
                                });


                            script(src='/js/user.js')
                            script(src='/js/windowLoad.js')
                            script(src='/js/note.js')
                            script(src='/js/draggable.js')
                            script(src='/js/btn.js')
                            script(src='/js/restore.js')
                            script(src='/js/preview.js')
                            script(src='/js/canvas.js')
                            script(src='/js/social.js')
                            script(src='/js/search.js')
                            script(src='/js/autoSave.js')
                            script(src='/js/annotationBar.js')

               

                    
                                     